
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .sardarbucks
{
    position: relative;
    max-width: 100px;

}
header ul
{
    position: relative;
    padding-right: 180px;
    display: flex;}

header ul li
{
    
    list-style: none;
}
header ul li a
{
    display: inline-block;;
    color: black;
    font-weight: 900;
    margin-left: 40px;
    text-decoration: none;
}.button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fbfcfb;
    color: #276b0c;
    cursor: pointer;
    
}
header ul li a:hover
{
    background-color: #017143;
    color: rgb(0, 0, 0);
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content.textBox
{
    position: relative
    max-width: 600px;
}
.content .textBox h2
{
    color: #333;
    font-size: 4em;
    list-style: 1.4em;
    font-weight: 500;

}
.content .textBox h2 span
{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;

}
.content .textBox p 
{
    color: #333;
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img
{
    max-height: 390px;
    padding-right: 60px;
}
.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover
{
    transform: translateY(-15px);
}
.thumb li img
{
    max-width: 80px;
}
.sci
{
    position: absolute;
    top: 45%;
    right: 25px;
    transform: translateY(-30%);
    display: flex;
    justify-content: center;
    align-items: cen;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    border-radius: 40px;
    margin: 2px;
    transform: scale(0.7);
}
.sci li a:hover 
{
  transform: translate(-15px);
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right);

}
.name_pata
{
    position: absolute;
    bottom: 50px;
    right: 70px;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    color: #070707;
}